.ad-image {
  padding-right: 8px;
  width: 195px;
  margin-top: 5px; }

.ad-text {
  text-transform: uppercase;
  letter-spacing: 0.5rem; }

.hero-body {
  padding: 0; }

h1.title.nav-title {
  font-size: 2.5em;
  font-weight: bold;
  padding: 19px 0; }

p.welcome {
  font-size: 1.2em;
  font-weight: bold;
  padding: 25px 0; }
