html,
body {
  font-family: "Muli", "Fira Sans", sans-serif; }

button,
a.button {
  font-family: "Roboto", "Muli", "Fira Sans", sans-serif;
  font-weight: 700; }

.modal {
  z-index: 50 !important; }

.has-navbar-fixed-top {
  padding-top: 75px; }

button.button svg.icon {
  margin-right: 10px !important; }

.ad-text {
  text-transform: uppercase;
  letter-spacing: 0.5rem; }

.card {
  min-height: 440px; }
  .card .card-header p.card-header-title {
    justify-content: center;
    text-transform: uppercase;
    color: #ffdd57;
    font-weight: bold;
    letter-spacing: 0.75rem;
    font-size: 1.5rem; }

.extended-hero {
  padding-bottom: 8rem; }
