.outer-circle {
  border-radius: 50%;
  width: 195px;
  height: 195px;
  background-color: #88c100;
  margin: 0 auto; }

.inner-circle {
  border-radius: 50%;
  width: 175px;
  height: 175px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  top: 10px; }

.welfie-score {
  font-weight: 700;
  font-size: 6rem;
  position: relative;
  margin: 0 auto;
  top: 24px;
  left: 38px;
  color: #3A4A57; }
