<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a id="login" href="/api/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/api/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script>

  $(document).ready(() => {

    $("#login").click(function(e){
        e.preventDefault();//this will prevent the link trying to navigate to another page

        let queryString = window.location.search.match(/^\?page=(.*)$/)[1]
        console.log(['window.location.search', window.location.search, unescape(queryString)])

        var href = $(this).attr("href");//get the href so we can navigate later
        window.location = `${href}${window.location.search}`;
    });
      
    console.log('asdf');
  })
</script>

</body>
</html>

