@import "../_variables";
@import "../../node_modules/bulmaswatch/sandstone/_variables.scss";
.navbar {
    height: 102.98px;
    background-color: white !important;
    box-shadow: 0 0.25em 0.375em rgba(0,0,0,0.1);
    a {
        &.logo {
            background-color: white;
        }
        &.button {
            &.social {
                padding: 8px;
                border: none;
                font-size: 1.5rem;
                color: $green !important;
            }
        }
    }
    .navbar-item {
        background-color: white;
    }
}

// .navbar-end, 
// .navbar-burger {
//   position: absolute;
//   right: 0;
// }
// .navbar-end{
//   margin: unset;
// }

.navbar-menu {
    background-color: rgba(255, 255, 255, 0.6);
    // position: absolute;
    // right: 0;
    // -webkit-box-align: stretch;
    // -ms-flex-align: stretch;
    // align-items: stretch;
    // display: flex;
}

button {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    &.loginButton {
        background-color: $green;
        color: #fff;
        display: none; 
    }
}

.loginButtonDisabled {
  display: none; 
}

.navbar-brand .navbar-item {
  margin: 0 auto;
  // z-index: 100;
}

.navbar-item img {
    max-height: 6rem;
    margin: 0 auto;
}

.button.social:not(:last-child) {
  margin-right: 1em;
}

#blog {
    border-color: $green;
    color: white;
    background-color: $green;
    &.is-outlined {
        color: $green;
        background-color: white;
    }
}

#blog:hover {
    border-color: $dark-green;
    background-color: $dark-green;
}
