@import "../_variables";
.card-container {
  margin-top: 2rem;
}

.section {
    padding: 1.5rem !important;
}

.card {
    border-top: 5px solid #394a58;
    .card-header {
        p.card-header-title {
            justify-content: center;
            text-transform: uppercase;
            color: $yellow-highlight;
            font-size: 1.2rem;
        }
        background-color: $midnight-color;
    }
    .card-content {
        min-height: 316px;
    }
    &.card-short {
        &.blue-top {
            border-top: 5px solid $primary-color;
        }
        &.gold-top {
            border-top: 5px solid $gold;
        }
        &.platinum-top {
            border-top: 5px solid $platinum;
        }
        .card-content {
            min-height: 250px;
            overflow: auto;
        }
        button {
          width: 100%;
          border-radius: 6px;
        }
        button.platinum:hover, 
        button.gold:hover {
          border: 2px solid #3A4A57;
        }
        button.gold {
            border-color: $gold;
            color: white;
            background-color: $gold;
            &.is-outlined {
                color: $gold;
                background-color: white;
            }
        }
        button.platinum {
            border-color: $platinum;
            color: white;
            background-color: $platinum;
            &.is-outlined {
                color: $platinum;
                background-color: white;
            }
        }
    }
    .tag {
        &.gold {
            background-color: $gold;
            color: $midnight-color;
        }
    }
    border-radius: $rounded-corner; 
}

.dashboard-background {
    background-color: #F2F3F5;
}

.title-canvas {
    display: inline-block;
}

.title-canvas.body {
    overflow: auto;
}

.title-canvas.margin {
    width: 2em;
}

.action-button.short {
    display: none;
}

@media (max-width: 1410px) {
    .title-canvas.body p.card-header-title {
    }
}

@media (max-width: 1216px) {
    .card-footer {
        display: block;
        height: 116px;
    }
    .card-footer-item:not(:last-child) {
        border: none;
        /* border-bottom: 1px solid #e6e1d7; */
    }
    .action-button.full {
        display: none;
    }
    .action-button.short {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.card {
    /* box-shadow: 5px 6px 3px rgba(62,63,58,.1), 0 0 0 0px rgba(62,63,58,.1); */
    /* box-shadow: 0px 4px 6px rgba(62,63,58,.1); */
    box-shadow: 0 0.25em 0.375em rgba(0,0,0,0.1)
}

@media (max-width: 768px) {
    .title-canvas.body p.card-header-title {
        font-size: 1.5rem;
        height: auto;
    }
    /* On desktop, these revert back to the original behavior */
    /* But there's a problem with mobile devices; TODO: perhaps have a separate style for mobile and desktop? */
    /* For now, keep uniform and leave buttons stacked */
    /* - buttons left to right */
    /* - organize download button, full description */
    /* .card-footer-item:not(:last-child) { */
    /*   border: none; */
    /*   border-right: 1px solid #e6e1d7; */
    /* } */
    /* .card-footer { */
    /*   height: auto; */
    /*   display: -webkit-box; */
    /*   display: -ms-flexbox; */
    /*   display: flex; */
    /* } */
    /* .action-button.full { */
    /*   display: inherit; */
    /* } */
    /*  */
    /* .action-button.short { */
    /*   display: none; */
    /* } */
    .title-canvas.body p.card-header-title {
        font-size: 1.5rem;
        height: auto;
    }
    .card.card-short,
    .card {
        margin: 1em 2em 0em 2em;
    }
    .card.card-short .card-content,
    .card .card-content {
        height: auto;
    }
    .card-footer {
        display: block;
        height: auto;
    }
}
