.card-container {
  margin-top: -10rem; }

.section {
  padding: 1.5rem !important; }

.card {
  border-radius: 3px; }
  .card .card-header {
    background-color: #394a58;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card .card-header p.card-header-title {
      justify-content: center;
      text-transform: uppercase;
      color: #ffdd57;
      font-size: 1.2rem; }
  .card .card-content {
    min-height: 316px; }
  .card.card-short.blue-top {
    border-top: 5px solid #325d88; }
  .card.card-short.gold-top {
    border-top: 5px solid #ddbb00; }
  .card.card-short.platinum-top {
    border-top: 5px solid #889; }
  .card.card-short .card-content {
    min-height: 250px;
    overflow: auto; }
  .card.card-short button.gold {
    border-color: #ddbb00;
    color: white;
    background-color: #ddbb00; }
    .card.card-short button.gold.is-outlined {
      color: #ddbb00;
      background-color: white; }
  .card.card-short button.platinum {
    border-color: #889;
    color: white;
    background-color: #889; }
    .card.card-short button.platinum.is-outlined {
      color: #889;
      background-color: white; }
  .card .tag.gold {
    background-color: #ddbb00; }

.dashboard-background {
  background-color: #F2F3F5;
  padding-bottom: 6em; }

.title-canvas {
  display: inline-block; }

.title-canvas.body {
  overflow: auto; }

.title-canvas.margin {
  width: 2em; }

.action-button.short {
  display: none; }

@media (max-width: 1216px) {
  .card-footer {
    display: block;
    height: 116px; }
  .card-footer-item:not(:last-child) {
    border: none;
    /* border-bottom: 1px solid #e6e1d7; */ }
  .action-button.full {
    display: none; }
  .action-button.short {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.card {
  /* box-shadow: 5px 6px 3px rgba(62,63,58,.1), 0 0 0 0px rgba(62,63,58,.1); */
  /* box-shadow: 0px 4px 6px rgba(62,63,58,.1); */
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1); }

@media (max-width: 768px) {
  .title-canvas.body p.card-header-title {
    font-size: 1.5rem;
    height: auto; }
  /* On desktop, these revert back to the original behavior */
  /* But there's a problem with mobile devices; TODO: perhaps have a separate style for mobile and desktop? */
  /* For now, keep uniform and leave buttons stacked */
  /* - buttons left to right */
  /* - organize download button, full description */
  /* .card-footer-item:not(:last-child) { */
  /*   border: none; */
  /*   border-right: 1px solid #e6e1d7; */
  /* } */
  /* .card-footer { */
  /*   height: auto; */
  /*   display: -webkit-box; */
  /*   display: -ms-flexbox; */
  /*   display: flex; */
  /* } */
  /* .action-button.full { */
  /*   display: inherit; */
  /* } */
  /*  */
  /* .action-button.short { */
  /*   display: none; */
  /* } */
  .title-canvas.body p.card-header-title {
    font-size: 1.5rem;
    height: auto; }
  .card.card-short,
  .card {
    margin: 1em 2em 0em 2em; }
  .card.card-short .card-content,
  .card .card-content {
    height: auto; }
  .card-footer {
    display: block;
    height: auto; } }
