.card-container {
  margin-top: -10rem; }

.section {
  padding: 1.5rem !important; }

.card .card-header p.card-header-title {
  justify-content: center;
  text-transform: uppercase;
  color: #ffdd57;
  font-weight: bold;
  letter-spacing: 0.75rem;
  font-size: 1.5rem; }

.card .card-content {
  min-height: 350px; }

.card.card-short.blue-top {
  border-top: 5px solid #325d88; }

.card.card-short.gold-top {
  border-top: 5px solid #ddbb00; }

.card.card-short.platinum-top {
  border-top: 5px solid #889; }

.card.card-short .card-content {
  min-height: 350px; }

.card.card-short button.gold {
  border-color: #ddbb00;
  color: white;
  background-color: #ddbb00; }
  .card.card-short button.gold.is-outlined {
    color: #ddbb00;
    background-color: white; }

.card.card-short button.platinum {
  border-color: #889;
  color: white;
  background-color: #889; }
  .card.card-short button.platinum.is-outlined {
    color: #889;
    background-color: white; }

.card .tag.gold {
  background-color: #ddbb00; }

.dashboard-background {
  background-color: #efefef;
  padding-bottom: 6em;
}

