@import "../welfie.scss";
html,
body {
    font-family: "Fira Sans", serif;
}

.hero {
    background: linear-gradient( rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("./welfie black and white flipped.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.heroTitle {
    color: $green !important;
    text-shadow: 3px 3px $black;
    padding: 3rem;
    background: radial-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0));
}

// .hero .nav,
// .hero.is-success .nav {
//     -webkit-box-shadow: none;
//     box-shadow: none;
// }
// .hero .subtitle {
//     padding: 3rem 0;
//     line-height: 1.5;
// }