body {
  font-family: "Muli", "Fira Sans", sans-serif; }

button,
a.button {
  font-family: "Roboto", "Muli", "Fira Sans", sans-serif;
  font-weight: 700; }

.modal {
  z-index: 50 !important; }

.has-navbar-fixed-top {
  padding-top: 75px; }

button.button svg.icon {
  margin-right: 10px !important; }

.hero.is-white {
  background: url("../common/assets/WelfieBG.jpg") no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; }
  .hero.is-white .hero-body img {
    margin: 0 auto; }
  @media screen and (min-width: 769px) {
    .hero.is-white.is-medium .hero-body {
      padding-top: 20vh;
      padding-bottom: 5vh; } }
  @media screen and (max-width: 1023px) {
    .hero.is-white.is-white .navbar-menu {
      background-color: rgba(255, 255, 255, 0.6); } }

.heroTitle {
  text-transform: uppercase; }
  .heroTitle.is-1 {
    font-size: 4em !important;
    color: #97c632 !important;
    text-shadow: 2px 2px #363636; }

.video-react-big-play-button {
  display: none !important; }

.heroColumn {
  background-color: rgba(255, 255, 255, 0.65); }

section h1.title.is-1 {
  margin-bottom: 2rem !important; }

section .text-block {
  padding-bottom: 4rem; }

.modal-card,
.modal-content {
  width: calc(100vh + 25vw); }

.play-button-container {
  color: #000; }
  .play-button-container:hover {
    color: #97c632; }
  .play-button-container .play-button {
    transition: width 0.5s, height 0.5s; }
    .play-button-container .play-button:hover {
      width: 30%;
      height: 30%; }
