button {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase; }

.loginButton {
  background-color: #6a9905;
  color: #fff;
  text-shadow: 2px 2px #7a7a7a; }

.social {
  color: #6a9905 !important; }

.navbar-item img {
  max-height: 4rem;
  margin: 0 auto; }

.navbar-burger span {
  color: white !important; }
