@import "../../welfie.scss";
button {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.loginButton {
  background-color: $green;
  color: #fff;
}

.button {
  &.social {
    padding: 0;
    border: none;
    font-size: 1.5rem;
    color: $green !important;
  }
}

.navbar-item img {
  max-height: 4rem;
  margin: 0 auto;
}

//
.hero {
  &.is-white {
    .navbar {
      background: $white;
      border-bottom: solid 1px $grey;
    }
  }
}
