html,
body {
  font-family: "Muli", "Fira Sans", serif; }

.modal {
  z-index: 50 !important; }

.navbar {
  background-color: white !important;
  border-bottom: solid 1px #7a7a7a; }
  .navbar a.logo {
    background-color: white; }
  .navbar .navbar-item {
    background-color: white; }

.navbar-menu {
  background-color: rgba(255, 255, 255, 0.6); }

button {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase; }

.loginButton {
  background-color: #97c632;
  color: #fff; }

.button.social {
  padding: 0;
  border: none;
  font-size: 1.5rem;
  color: #97c632 !important; }

.navbar-item img {
  max-height: 4rem;
  margin: 0 auto; }
