@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/functions.sass";
@import "../node_modules/bulmaswatch/sandstone/_variables.scss";
//welfie.co colorsyarn
$green: #97c632;
$green-invert: #fff;
$green1: #6a9905;
$green1-invert: #fff;
$green2: #88b723;
$green2-invert: #fff;
$green3: #a6d541;
$green3-invert: #000;
$green4: #c4f35f;
$green4-invert: #000;
$gold: #ddbb00;
$gold-invert: #000;
$platinum: #889;
$platinum-invert: #000;
$rounded-corner: 4px;
