@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/functions.sass";
@import "../node_modules/bulmaswatch/sandstone/_variables.scss";
//welfie.co colorsyarn
$green: #88c100;
$green-invert: #fff;
$green1: #88c100;
$green1-invert: #fff;
$green2: #88c100;
$green2-invert: #fff;
$green3: #88c100;
$green3-invert: #000;
$green4: #88c100;
$green4-invert: #000;
$gold: #ddbb00;
$gold-invert: #000;
$platinum: #889;
$platinum-invert: #000;
$rounded-corner: 3px;
$primary-color: #1FB9C8;
$yellow-highlight: #fec92f; 

