@import "./_variables";

$pink-invert: #fff;

body {
    font-family: "Muli", "Fira Sans", sans-serif;
}

button,
a.button {
    font-family: "Roboto", "Muli", "Fira Sans", sans-serif;
    font-weight: 700;
}

.modal {
    z-index: 50 !important;
    .modal-card {
        .modal-card-head {
            .modal-card-title {
                flex-shrink: 1 !important;
            }
        }
    }
}

.has-navbar-fixed-top {
    padding-top: 75px;
}

button.button {
    svg.icon {
        margin-right: 10px !important;
    }
    border-radius: $rounded-corner; 
}

a.button {
  border-radius: $rounded-corner; 
}

.card-footer {
  border-top: 0;
}

.card-footer-item:not(:last-child) {
    border-right: 0;
}

.button.is-primary {
  background-color: $primary-color;
}

.button.is-primary.is-outlined {
    background-color: transparent;
    border-color: $primary-color;
    color: $primary-color;
}

.button.is-primary.is-hovered, .button.is-primary:hover, 
.button.is-primary.is-outlined:hover, 
.button.is-primary.is-outlined:focus, .button.is-primary.is-outlined:hover {
  background-color: $primary-color;
  border-color: $primary-color;
  color: white;
}

.button.is-warning {
  background-color: $yellow-highlight;
  color: #394a58;
}

.column {
    padding: 20px;
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
    width: 1060px;
  }
}
