@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/functions.sass";
$green: #97c632;
$green1: #6a9905;
$green2: #88b723;
$green3: #a6d541;
$green4: #c4f35f;
$primary: $green;
html,
body {
  font-family: "Muli", "Fira Sans", serif;
}
