@import "./_variables";

$pink-invert: #fff;

body {
    font-family: "Muli", "Fira Sans", sans-serif;
}

button,
a.button {
    font-family: "Roboto", "Muli", "Fira Sans", sans-serif;
    font-weight: 700;
}

.modal {
    z-index: 50 !important;
    .modal-card {
        .modal-card-head {
            .modal-card-title {
                flex-shrink: 1 !important;
            }
        }
    }
}

.has-navbar-fixed-top {
    padding-top: 75px;
}

button.button {
    svg.icon {
        margin-right: 10px !important;
    }
    border-radius: $rounded-corner; 
}

a.button, button.button {
  border-radius: 6px; 
}

.card-footer {
  border-top: 0;
}

.card-footer-item:not(:last-child) {
  border-right: 0;
}

.card-footer-item span {
  width: 100%;
}

.button.is-primary {
  background-color: $primary-color;
  width: 100%;
}

.button.is-primary.is-outlined {
    background-color: transparent;
    border-color: $primary-color;
    color: $primary-color;
}

.button.is-primary.is-hovered, .button.is-primary:hover, 
.button.is-primary.is-outlined:hover, 
.button.is-primary.is-outlined:focus, .button.is-primary.is-outlined:hover {
  background-color: $primary-color;
  border: 2px solid #3A4A57;
  color: white;
}

.button.is-warning, .button.is-warning:hover {
    background-color: $dark-gray;
    color: #fff;
    border-radius: 6px; 
}

.button.is-warning:hover {
    background-color: #616163;
}

.column {
    padding: 20px;
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
    width: 1060px;
  }
}

.box {
  border-radius: 0;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  overflow: scroll;
  max-height: 230px;
}

.tag:not(body).is-primary {
    background-color: $primary-color;
    color: $midnight-color;
    color: white; 
}

html {
  background-color: #F2F3F5;
}
