body {
  font-family: "Muli", "Fira Sans", sans-serif; }

button,
a.button {
  font-family: "Roboto", "Muli", "Fira Sans", sans-serif;
  font-weight: 700; }

.modal {
  z-index: 50 !important; }
  .modal .modal-card .modal-card-head .modal-card-title {
    flex-shrink: 1 !important; }

.has-navbar-fixed-top {
  padding-top: 103px; }

button.button {
  border-radius: 3px; }
  button.button svg.icon {
    margin-right: 10px !important; }

a.button, button.button {
  border-radius: 6px; }

.card-footer {
  border-top: 0; }

.card-footer-item:not(:last-child) {
  border-right: 0; }

.card-footer-item span {
  width: 100%; }

.button.is-primary {
  background-color: #1FB9C8;
  width: 100%; }

.button.is-primary.is-outlined {
  background-color: transparent;
  border-color: #1FB9C8;
  color: #1FB9C8; }

.button.is-primary.is-hovered, .button.is-primary:hover,
.button.is-primary.is-outlined:hover,
.button.is-primary.is-outlined:focus, .button.is-primary.is-outlined:hover {
  background-color: #1FB9C8;
  border: 2px solid #3A4A57;
  color: white; }

.button.is-warning, .button.is-warning:hover {
  background-color: #828283;
  color: #fff;
  border-radius: 6px; }

.button.is-warning:hover {
  background-color: #616163; }

.column {
  padding: 20px; }

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
    width: 1060px; } }

.card.card-short .card-content .box,
.box {
  border-radius: 0;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  overflow: scroll;
  max-height: 230px;
  font-size: 12pt;
  font-weight: 600;
  color: #3A4A57; }

.card.card-short .card-content .box {
  max-height: 147px; }

.box .tag {
  font-size: 12pt;
  font-weight: 600; }

.tag:not(body).is-primary {
  background-color: #1FB9C8;
  color: white;
  text-transform: uppercase; }

.card .tag.gold {
  background-color: #FDC842;
  color: #3A4A57;
  text-transform: uppercase; }

html {
  background-color: #F2F3F5; }

.title {
  color: #94C453;
  /* font-size: 2rem; */
  font-weight: 600;
  line-height: 1.125; }

.hero.is-success {
  background-color: #88c100;
  color: #fff; }
