body {
  font-family: "Muli", "Fira Sans", sans-serif; }

button,
a.button {
  font-family: "Roboto", "Muli", "Fira Sans", sans-serif;
  font-weight: 700; }

.modal {
  z-index: 50 !important; }
  .modal .modal-card .modal-card-head .modal-card-title {
    flex-shrink: 1 !important; }

.has-navbar-fixed-top {
  padding-top: 75px; }

button.button {
  border-radius: 4px; }
  button.button svg.icon {
    margin-right: 10px !important; }

a.button {
  border-radius: 4px; }

.card-footer {
  border-top: 0; }

.card-footer-item:not(:last-child) {
  border-right: 0; }
